<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="Sold">


<div class="row">
  
  <div class="col-sm-4">
    <a routerLink="/rajendra" routerLinkActive="active">
    <div class="w3-card-4">
      <img class="center" src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
      <div class="w3-container w3-center">
        <p style="text-decoration-color: black;font-stretch: extra-expanded;font-family: 
        'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 400;font-size:
          22px;">Rajendra Prasad</p>
      </div>
    </div></a>
  </div >

  
  <div class="col-sm-4" background='https://tse2.mm.bing.net/th?id=OIP.upoOuI3rAeQ1ty-VdqImMwHaJW&pid=Api&P=0&w=300&h=300'>
    <a routerLink="/mahaveer" routerLinkActive="active">
    <div class="w3-card-4">
      <img class='center'src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
      <div class="w3-container w3-center">
        <p routerLink="list" routerLinkActive="active" style="text-decoration-color: rgba(34, 25, 78, 0.363);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 
        sans-serif;font-weight: 400;font-size:22px;font-stretch: extra-expanded;">Mahaveer Singh</p>
      </div>
    </div>
    </a>
  </div >

  
  <div class="col-sm-4" >
    <a routerLink="/ranveer" routerLinkActive="active">
    <div class="w3-card-4">
      <img class='center'src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
      <div class="w3-container w3-center">
        <p style="text-decoration-color: rgba(34, 25, 78, 0.363);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 
        sans-serif;font-weight: 400;font-size: 22px;font-stretch: extra-expanded;">Ranveer Pratap</p>
      </div>
    </div>
    </a>
  </div >


</div>

</div>

<div class="jumbotro">
  <iframe src="https://www.google.com/maps/d/embed?mid=1N3c4MOjH9q2Cah8Ox_c_VainscFukVyi&hl=en" width="1170" height="680"></iframe>
</div>