 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="col">
      <div class="row-lg-3">
        <div class="panel1">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-5">
                <img class="center" height="110px" src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
              </div>
              <div class="col-xs-4">
                <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;color: black;">Mahaveer Singh</h3>    
            </div>
              
              <div class="col-xs-3 text-right">
                <p class="announcement-heading" style="font-weight: 400px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;">Service ID : RAJ-213</p>
                <p class="announcement-heading"style="font-weight: 400px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Status : In Combat</b></p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom" style="height: 30px;background-color: rgba(160, 160, 160, 0.548);">
                <a routerLink="/mahaveer" routerLinkActive="active">
                <div class="row">
                
                <div class="col-xs-6">
                  <h5 style="color: black;margin-top: -3px;">  Track</h5>
                </div>
                <div class="col-xs-6 text-right" style="margin-top: -4px;">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </a>
            </div>
          </a>
        </div>
      </div>
      
      <div class="row-lg-3" style="padding-top: 20px;">
        <div class="panel2 ">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-5">
                <img class="center" height="110px" src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
              </div>
              <div class="col-xs-4">
                <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;color: black;">Rajendra Prasad</h3>    
              </div>
              
              <div class="col-xs-3 text-right">
                <p class="announcement-heading"style="font-weight: 400px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top:20px">Service ID : SIACH-21</p>
                <p class="announcement-heading"style="font-weight: 500px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Status : In Stress</b></p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom" style="background-color: rgba(160, 160, 160, 0.548);height: 30px;">
                <a routerLink="/rajendra" routerLinkActive="active">
                <div class="row" >
                  
                <div class="col-xs-6">
                  <h5 style="color: black;margin-top: -3px;">  Track</h5>
                </div>
                <div class="col-xs-6 text-right"style="margin-top: -4px;">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
              </a>
            </div>
          </a>
        </div>
      </div>
      
      <div class="row-lg-3">
        <div class="panel1">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-5">
                <img class="center" height="110px" src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
              </div>
              <div class="col-xs-4">
                <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;color: black;">Balwan Singh</h3>    
            </div>
              
              <div class="col-xs-3 text-right">
                <p class="announcement-heading" style="font-weight: 400px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;">Service ID : RAS-213</p>
                <p class="announcement-heading"style="font-weight: 400px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Status : In Combat</b></p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom" style="height: 30px;background-color: rgba(160, 160, 160, 0.548);">
                <a routerLink="/mahaveer" routerLinkActive="active">
                <div class="row">
                
                <div class="col-xs-6">
                  <h5 style="color: black;margin-top: -3px;">  Track</h5>
                </div>
                <div class="col-xs-6 text-right" style="margin-top: -4px;">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </a>
            </div>
          </a>
        </div>
      </div>
      <div class="row-lg-3" style="padding-top: 20px;">
        <div class="panel3 " >
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-5">
                <img class="center" height="110px" src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
              </div>
              <div class="col-xs-4">
                <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;color: black;">Ranveer Pratap</h3>    
            </div>
              
              <div class="col-xs-3 text-right">
                <p class="announcement-heading"style="font-weight: 400px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top:20px">Service ID : KASH-23</p>
                <p class="announcement-heading"style="font-weight: 500px; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Status : Injured</b></p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom" style="background-color: rgba(160, 160, 160, 0.548);height: 30px;">
                <a routerLink="/ranveer" routerLinkActive="active">
                <div class="row" >
                <div class="col-xs-6">
                  <h5 style="color: black;margin-top: -3px;">  Track</h5>
                </div>
                <div class="col-xs-6 text-right" style="margin-top: -4px;">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
