<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="emg">
<div class="row-lg-3">
    <div class="panel1">
      <div class="panel-heading">
        <div class="row" style="background-color: rgba(109, 177, 194, 0.466);">
          <div class="col-xs-2">
            
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;padding-bottom:10px;color: black;font-weight: 500;">Mahaveer Singh</h3>    
        
            <img class="center" height="120px"  src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 10px;color: black;font-size: large;padding-left: 10px;">Status : In Combat</h3>    
        
        </div>
          
          <div class="col-xs-4 text-center">
                <h3 style="padding-top: 80px;font-weight: 500;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">In Risk</h3>
                <div style="padding-left: 80px;">
                <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-green"></div>
                   
                  </div>
            
                  <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  
                  </div>
                  <br/>
                  <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    SOS Status : Not Pressed</h4>
               </div>
               

          <div class="col-xs-6 text-center">
            <hr>
            
              <p>Heartbit/min</p>
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-green" style="width:55%">78 Bits/sec</div>
              </div>
          
              <p style="padding-top: 20px;">Temperature</p>
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-green" style="width:50%">35°C</div>
              </div>
        
            
            <hr>
        </div>
        
      </div>
          </div>
  </div>
  <div class="row-lg-3">
    <div class="panel1">
      <div class="panel-heading">
        <div class="row" style="background-color: rgba(109, 177, 194, 0.466);">
          <div class="col-xs-2">
            
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;padding-bottom:10px;color: black;font-weight: 500;">Rajendra Prasad</h3>    
        
            <img class="center" height="120px"  src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 10px;color: black;font-size: large;padding-left: 10px;">Status : In Stress</h3>    
        
        </div>
          
          <div class="col-xs-4 text-center">
                <h3 style="padding-top: 80px;font-weight: 500;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">In Risk</h3>
                <div style="padding-left: 80px;">
                <div class="led-box">
                    <div class="led-red"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-red"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-red"></div>
                   
                  </div>
            
                  <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-green"></div>
                    
                  </div>
                  
                  </div>
                  <br/>
                  <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    SOS Status : Not Pressed</h4>
               </div>
               

          <div class="col-xs-6 text-center">
            <hr>
            
              <p>Heartbit/min</p>
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-red" style="width:85%">162 Bits/sec</div>
              </div>
          
              <p style="padding-top: 20px;">Temperature</p>
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-orange" style="width:65%">39°C</div>
              </div>
        
            
            <hr>
        </div>
        </div>
      </div>
          </div>
  </div>
  <div class="row-lg-3">
    <div class="panel1">
      <div class="panel-heading">
        <div class="row" style="background-color: rgba(109, 177, 194, 0.466);">
          <div class="col-xs-2">
            
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 20px;padding-bottom:10px;color: black;font-weight: 500;">Pradh Singh</h3>    
        
            <img class="center" height="120px"  src="https://tse3.mm.bing.net/th?id=OIP.rpb8XaFwfU21eOFhBVNO4gHaJQ&pid=Api&P=0&w=300&h=300" alt="Alps">
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 10px;color: black;font-size: large;padding-left: 10px;">Status : injured</h3>    
        
        </div>
          
          <div class="col-xs-4 text-center">
                <h3 style="padding-top: 80px;font-weight: 500;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">In Risk</h3>
                <div style="padding-left: 80px;">
                <div class="led-box">
                    <div class="led-red"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-red"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-red"></div>
                   
                  </div>
            
                  <div class="led-box">
                    <div class="led-red"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-red"></div>
                    
                  </div>
                  <div class="led-box">
                    <div class="led-red"></div>
                    
                  </div>
                  
                  </div>
                  <br/>
                  <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    SOS Status : Pressed</h4>
               </div>
               

          <div class="col-xs-6 text-center">
            <hr>
            
              <p>Heartbit/min</p>
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-orange" style="width:75%">125 Bits/sec</div>
              </div>
          
              <p style="padding-top: 20px;">Temperature</p>
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-orange" style="width:60%">38°C</div>
              </div>
        
            
            <hr>
        </div>
        </div>
      </div>
          </div>
</div>


